version: "3"
services:
  db:
    container_name: contracts_db
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: spring
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - '4306:3306'
    networks:
      - ntw
    volumes:
      - ./var/mysql:/var/lib/mysql

networks:
  ntw:
    driver: bridge
